# The answers of the blueprint (https://github.com/Dennis-Otto/repo-blueprint);
# `copier update` reads them to bring the repository up to the latest release.
# Change them only with `copier update --data name=value`.
{= _copier_answers | to_nice_yaml -=}
